<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: red;">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Angular with JWT</a>

        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
                    <a class="nav-link" routerLink='/admin'routerLinkActive='active' >Admin</a>
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="nav-link" routerLink='/main'routerLinkActive='active' >Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/example' >Example</a>
            </li>
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.knownAs || user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
        </div>
    </div>
</nav>