<form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input 
      name="username"
      [(ngModel)]="model.username"
      class="form-control mr-sm-2" 
      type="text" 
      placeholder="Username">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input 
      name="password"
      [(ngModel)]="model.password"
      class="form-control mr-sm-2" 
      type="password" 
      placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <form *ngIf="(accountService.currentUser$ | async)" #loginForm="ngForm" (ngSubmit)="login()">
    <label>You are logged in....</label>     
  </form>